---
---

@import "{{ site.theme }}";

.site-header {
  background: #d2f7f0;
  background: linear-gradient(15deg, rgba(210, 247, 240, 1) 0%, rgba(171, 197, 235, 1) 97%);
  border-top: unset;
  border-bottom: unset;
}

.page-content {
  padding: 20px 0;
}

.topic-pagination-wrapper {
  display: flex; 
  justify-content: space-between;
}